@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  background-color: #151414;
  font-size: 36px;
  color: #fff;
}

body,
h1, h2, h3, h4, h5, h6,
p,
ul, li,
fieldset {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

button,
fieldset,
input,
select,
textarea {
  border: 0;
  outline: 0;
}

.container {
  max-width: calc(100% - 80px);
  margin: 0 auto;
}

.button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  text-align: center;
  cursor: pointer;
}
.button:active {
  border-color: #fa00009c;
  color: rgba(255, 255, 255, 0.781);
}

.button_border_red {
  border: 5px #FA0001 solid;
  background: none;
  color: #fff;
  letter-spacing: 1.6px;
}

.title {
  margin-bottom: 78px;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 64px;
  text-transform: uppercase;
}

.subtitle {
  margin-bottom: 42px;
}

.header {
  padding: 32px 0 120px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Fira Mono", monospace;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.header__logo-image {
  margin-bottom: 86px;
}
.header__logo-text {
  color: #FA0001;
  font-family: "Montserrat Alternates", sans-serif;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  height: 767px;
  margin-left: 9px;
}
.header__main-headline {
  margin-top: 122px;
}
.header__headline {
  margin-bottom: 34px;
}
.header__headline-text {
  font-size: 144px;
  line-height: 144px;
}
.header__headline-text_dark-gray {
  color: #ffffff0a;
  margin-left: 86px;
}
.header__headline-text_gray {
  color: #ffffff2e;
}
.header__headline-text_white {
  margin-left: 94px;
}
.header__button {
  position: relative;
  left: 187px;
  padding: 10px 0;
  width: 416px;
}
.header__navigation-list {
  text-align: right;
}
.header__links {
  line-height: 60px;
}
.header__links:hover {
  color: rgba(255, 255, 255, 0.767);
}
.header__links:active {
  color: rgba(255, 255, 255, 0.596);
}

.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.registration__subtitle {
  width: 522px;
  height: 200px;
}
.registration__form {
  margin-top: 47px;
}

.form {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Roboto", sans-serif;
}
.form__fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 46px;
}
.form__label {
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 20px;
}
.form__input {
  color: #fff;
  border: 1px #C4C4C4 solid;
  padding: 0 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: none;
  font-size: 20px;
  margin-right: 17px;
}
.form__input_size_l {
  width: 520px;
  height: 65px;
}
.form__input_size_m {
  width: 420px;
  height: 65px;
}
.form__input_size_s {
  width: 150px;
  height: 65px;
}
.form__spec-year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form__options {
  color: #000;
}
.form__hub-section {
  width: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form__check {
  visibility: hidden;
}
.form__check-button {
  cursor: pointer;
  padding: 31px 41px;
}
.form__check-button:hover {
  border-color: white;
}
.form .checked__section {
  border-color: #FA0001;
}
.form__textarea {
  resize: none;
  height: 217px;
}
.form__accept-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}
.form__check-accept {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form__label-accept {
  display: block;
  border: 1px #fff solid;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.form__label-link::after {
  content: '';
  display: block;
  margin-left: 106px;
  width: 277px;
  height: 2px;
  background-color: #fff;
}
.form .checked__img {
  border: 1px #F14635 solid;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/checked.png");
}
.form__label-info {
  font-size: 18px;
}
.form__button {
  width: 284px;
  font-size: 24px;
  padding: 20px;
}

/*# sourceMappingURL=style.css.map */